{#
/**
 * @file
 * Theme for asu_application entity.
 *
 */
#}

{{ attach_library('asuntotuotanto/application-apartment-listing') }}

{%
  set classes = [
    'application',
    view_mode ? 'application--' ~ view_mode|clean_class,
  ]
%}

{% set test = content['#teaser_values'].project_address %}
{% set apartment_number = "A75" %}
{% set apartment_structure = "4h, kt,s" %}
{% set result_of_draw = "3." %}
{% set current_ranking = "3." %}
{% set booking_status = "Reserved" %}
{% set address = content['#teaser_values'].project_address %}
{{ drupal_breakpoint() }}
{# {{ address|json_encode }} #}

{% if content['#teaser_values'].application_url %}
  {% if view_mode == 'submitted_teaser' %}
    <article{{ attributes.addClass(classes) }}>
      <figure class="application__image">
        <img src="{{ content['#teaser_values'].project_main_image_url }}" alt="{{ 'Image of the project'|t }}">
      </figure>
      <div class="application__wrapper">
        <div class="application__content">
          <h2 class="application__project-name">
            <span class="visually-hidden">
              {% trans %}
                Project name
              {% endtrans %}
              {{ ': ' }}
            </span>
            {{ content['#teaser_values'].project_name }}
          </h2>
          <p class="application__project-address">
            <span class="visually-hidden">
              {% trans %}
                Address
              {% endtrans %}
              {{ ': ' }}
            </span>
            <strong>
              {{ content['#teaser_values'].project_district }}{{ ',' }}
            </strong>
            {{ content['#teaser_values'].project_address }}
          </p>
          <span class="application__project-ownership-type">
            <span class="visually-hidden">
              {% trans %}
                Ownership type
              {% endtrans %}
              {{ ': ' }}
            </span>
            {{ content['#teaser_values'].project_ownership_type }}
          </span>
          <ul class="application__date-information">
            <li>
              {% include "@hdbt/misc/icon.twig" with {icon: 'cogwheel', label: ''} %}
              <span class="visually-hidden">
                {% trans %}
                  Estimated completion
                {% endtrans %}
                {{ ': ' }}
              </span>
              {{ content['#teaser_values'].project_estimated_completion }}
            </li>
            <li>
              {% set date = content['#teaser_values'].application_end_time|date("d.m.Y") %}
              {% set time = content['#teaser_values'].application_end_time|date("H.i") %}
              {% include "@hdbt/misc/icon.twig" with {icon: 'clock', label: ''} %}
              {% trans %}
                The application period is open until {{ time }} on {{ date }}
              {% endtrans %}
            </li>
          </ul>
        </div>
        <div class="application__actions">
          {% include "@asuntotuotanto/button/button.html.twig" with {
            label: 'Open application'|t,
            href: content['#teaser_values'].application_url,
            type: 'secondary'
          } %}
        </div>
      </div>
    </article>

    <div class="application__lottery application__lottery--show" id="application__lottery--show--submitted">
      <a class="application__lottery-link application__lottery-link--show" id="application__lottery-link--show--submitted">
        {% trans %}
          Show apartment listing
        {% endtrans %}
      </a>
    </div>

    <ul class="application__apartments application__apartments--mobile project__apartments-list is-hidden application__lottery-results" id="application__lottery-results--submitted" aria-hidden="true">
      {# Single lottery result (mobile) #}
      <li class="project__apartments-item lottery-result lottery-result--mobile">
        <button
          aria-expanded="false"
          class="project__apartments-item-button"
          aria-label="Open apartment {{ apartment_number }} information"
        >
          <span>{{ apartment_number }}</span>
          {# <span aria-hidden="true" class="project__apartment-application-status"></span> #}
          <span>{{ apartment_structure }}</span>
          {% include "@hdbt/misc/icon.twig" with {icon: 'angle-down', label: ''} %}
        </button>
        <div aria-hidden="true" class="project__apartments-item-content is-hidden">
          <ul class="project__apartments-item-details-list">
            <li class="project__apartments-item-details-item">
              <p>
                <span>
                  {% trans %}
                    Result of draw
                  {% endtrans %}
                </span>
                <span>
                  {{ result_of_draw }}
                </span>
              </p>
            </li>
            <li class="project__apartments-item-details-item">
              <p>
                <span>
                  {% trans %}
                    Current ranking
                  {% endtrans %}
                </span>
                <span>
                  {{ current_ranking }}
                </span>
              </p>
            </li>
            <li class="project__apartments-item-details-item">
              <p>
                <span>
                  {% trans %}
                    Booking status
                  {% endtrans %}
                </span>
                <span>
                  {{ booking_status }}
                </span>
              </p>
            </li>
          </ul>
        </div>
      </li>
    </ul>

    <table class="application__apartments application__apartments--desktop is-hidden application__lottery-results" id="application__lottery-results--submitted" aria-hidden="true">
      <thead>
        <tr>
          <th>{% trans %}Applied for apartment{% endtrans %}</th>
          <th>{% trans %}Result of draw{% endtrans %}</th>
          <th>{% trans %}Current ranking{% endtrans %}</th>
          <th>{% trans %}Booking status{% endtrans %}</th>
        </tr>
      </thead>
      <tbody>
        {# Single lottery result (desktop) #}
        <tr class="lottery-result lottery-result--desktop">
          <td>{{ apartment_number }} <span>{{ apartment_structure }}</span></td>
          <td>{{ result_of_draw }}</td>
          <td>{{ current_ranking }}</td>
          <td>{{ booking_status }}</td>
        </tr>
      </tbody>
    </table>

    <div class="application__lottery application__lottery--hide is-hidden" id="application__lottery--hide--submitted">
      <a class="application__lottery-link application__lottery-link--hide" id="application__lottery-link--hide--submitted">
        {% trans %}
          Hide apartment listing
        {% endtrans %}
      </a>
    </div>
  {% endif %}

  {% if view_mode == 'draft_teaser' %}
    <article{{ attributes.addClass(classes) }}>
      <figure class="application__image">
        <img src="{{ content['#teaser_values'].project_main_image_url }}" alt="{{ 'Image of the project'|t }}">
      </figure>
      <div class="application__wrapper">
        <div class="application__content">
          <h2 class="application__project-name">
            <span class="visually-hidden">
              {% trans %}
                Project name
              {% endtrans %}
              {{ ': ' }}
            </span>
            {{ content['#teaser_values'].project_name }}
          </h2>
          <p class="application__project-address">
            <span class="visually-hidden">
              {% trans %}
                Address
              {% endtrans %}
              {{ ': ' }}
            </span>
            <strong>
              {{ content['#teaser_values'].project_district }}{{ ',' }}
            </strong>
            {{ content['#teaser_values'].project_address }}
          </p>
          <span class="application__project-ownership-type">
            <span class="visually-hidden">
              {% trans %}
                Ownership type
              {% endtrans %}
              {{ ': ' }}
            </span>
            {{ content['#teaser_values'].project_ownership_type }}
          </span>
          <ul class="application__date-information">
            <li>
              {% include "@hdbt/misc/icon.twig" with {icon: 'cogwheel', label: ''} %}
              <span class="visually-hidden">
                {% trans %}
                  Estimated completion
                {% endtrans %}
                {{ ': ' }}
              </span>
              {{ content['#teaser_values'].project_estimated_completion }}
            </li>
            <li>
              {% set date = content['#teaser_values'].application_end_time|date("d.m.Y") %}
              {% set time = content['#teaser_values'].application_end_time|date("H.i") %}
              {% include "@hdbt/misc/icon.twig" with {icon: 'clock', label: ''} %}
              {% trans %}
                The application period is open until {{ time }} on {{ date }}
              {% endtrans %}
            </li>
          </ul>
        </div>
        <div class="application__actions">
          {% include "@asuntotuotanto/button/button.html.twig" with {
            label: 'Edit application'|t,
            href: content['#teaser_values'].application_url,
            type: 'primary'
          } %}
        </div>
      </div>
    </article>

    <div class="application__lottery application__lottery--show" id="application__lottery--show--draft">
      <a class="application__lottery-link application__lottery-link--show" id="application__lottery-link--show--draft">
        {% trans %}
          Show apartment listing
        {% endtrans %}
      </a>
    </div>

    <ul class="application__apartments application__apartments--mobile project__apartments-list is-hidden application__lottery-results" id="application__lottery-results--draft" aria-hidden="true">
      {# Single lottery result (mobile) #}
      <li class="project__apartments-item lottery-result lottery-result--mobile">
        <button
          aria-expanded="false"
          class="project__apartments-item-button"
          aria-label="Open apartment {{ apartment_number }} information"
        >
          <span>{{ apartment_number }}</span>
          {# <span aria-hidden="true" class="project__apartment-application-status"></span> #}
          <span>{{ apartment_structure }}</span>
          {% include "@hdbt/misc/icon.twig" with {icon: 'angle-down', label: ''} %}
        </button>
        <div aria-hidden="true" class="project__apartments-item-content is-hidden">
          <ul class="project__apartments-item-details-list">
            <li class="project__apartments-item-details-item">
              <p>
                <span>
                  {% trans %}
                    Result of draw
                  {% endtrans %}
                </span>
                <span>
                  {{ result_of_draw }}
                </span>
              </p>
            </li>
            <li class="project__apartments-item-details-item">
              <p>
                <span>
                  {% trans %}
                    Current ranking
                  {% endtrans %}
                </span>
                <span>
                  {{ current_ranking }}
                </span>
              </p>
            </li>
            <li class="project__apartments-item-details-item">
              <p>
                <span>
                  {% trans %}
                    Booking status
                  {% endtrans %}
                </span>
                <span>
                  {{ booking_status }}
                </span>
              </p>
            </li>
          </ul>
        </div>
      </li>
    </ul>

    <table class="application__apartments application__apartments--desktop is-hidden application__lottery-results" id="application__lottery-results--draft" aria-hidden="true">
      <thead>
        <tr>
          <th>{% trans %}Applied for apartment{% endtrans %}</th>
          <th>{% trans %}Result of draw{% endtrans %}</th>
          <th>{% trans %}Current ranking{% endtrans %}</th>
          <th>{% trans %}Booking status{% endtrans %}</th>
        </tr>
      </thead>
      <tbody>
        {# Single lottery result (desktop) #}
        <tr class="lottery-result lottery-result--desktop">
          <td>{{ apartment_number }} <span>{{ apartment_structure }}</span></td>
          <td>{{ result_of_draw }}</td>
          <td>{{ current_ranking }}</td>
          <td>{{ booking_status }}</td>
        </tr>
      </tbody>
    </table>

    <div class="application__lottery application__lottery--hide is-hidden" id="application__lottery--hide--draft">
      <a class="application__lottery-link application__lottery-link--hide" id="application__lottery-link--hide--draft">
        {% trans %}
          Hide apartment listing
        {% endtrans %}
      </a>
    </div>
  {% endif %}

  {% if view_mode == 'full' %}
    {% set classes = [
      'application-form',
      'application-form--add',
      'wrapper',
      'wrapper--mw-1200'
    ] %}

    {# FULL VIEW MODE #}
    <form{{ attributes|without('class') }} {{ create_attribute({'class': classes}) }}>
      {{ link(
        'Go back to applications'|t,
        "internal:/user/applications",
        { 'class':['application-form__back-link']} )
      }}
      <div class="application-form__header">
        <h1>
          <span>
            {{ content['#teaser_values'].project_ownership_type }}-{% trans %}application{% endtrans %}
          </span>
          {{ content['#teaser_values'].project_name }}
        </h1>
      </div>
      <div class="application-form__content">
        <section class="application-form__section">
          <article class="application application--form-teaser">
            <figure class="application__image">
              {# <img src="{{ element.application_project_information['#teaser_values'].project_main_image_url }}" alt="{{ 'Image of the project'|t }}"> #}
              <img src="{{ content['#teaser_values'].project_main_image_url }}" alt="{{ 'Image of the project'|t }}">
            </figure>
            <div class="application__content">
              <h2 class="application__project-name">
                <span class="visually-hidden">
                  {% trans %}
                    Project name
                  {% endtrans %}
                  {{ ': ' }}
                </span>
                {{ content['#teaser_values'].project_name }}
              </h2>
              <p class="application__project-address">
                <span class="visually-hidden">
                  {% trans %}
                    Address
                  {% endtrans %}
                  {{ ': ' }}
                </span>
                <strong>
                  {{ content['#teaser_values'].project_district }}{{ ',' }}
                </strong>
                {{ content['#teaser_values'].project_address }}
              </p>
              <span class="application__project-ownership-type">
                <span class="visually-hidden">
                  {% trans %}
                    Ownership type
                  {% endtrans %}
                  {{ ': ' }}
                </span>
                {{ content['#teaser_values'].project_ownership_type }}
              </span>
              <ul class="application__date-information">
                <li>
                  {% include "@hdbt/misc/icon.twig" with {icon: 'cogwheel', label: ''} %}
                  <span class="visually-hidden">
                    {% trans %}
                      Estimated completion
                    {% endtrans %}
                    {{ ': ' }}
                  </span>
                  {{ content['#teaser_values'].project_estimated_completion }}
                </li>
                <li>
                  {% set date = content['#teaser_values'].application_end_time|date("d.m.Y") %}
                  {% set time = content['#teaser_values'].application_end_time|date("H.i") %}
                  {% include "@hdbt/misc/icon.twig" with {icon: 'check-circle-fill', label: ''} %}
                  {% trans %}
                    The application period is open until {{ time }} on {{ date }}
                  {% endtrans %}
                </li>
              </ul>
            </div>
          </article>
          {# {% include "@asuntotuotanto/form/application/custom-apartment-list.html.twig" %}
          {# {% set apartments = content['#teaser_values'].application.apartments %} #}
          {% set apartments = content.application.apartments_data %}
          {% set project_type = content['#teaser_values'].project_ownership_type %}
          {% if apartments|length > 0 %}
            <div class="application-form__apartments">
              <ul class="application-form__apartments-list-header">
                <li><p>{% trans %}Order{% endtrans %}</p></li>
                <li><p>{% trans %}Apartment{% endtrans %}</p></li>
                <li><p>{% trans %}Floor{% endtrans %}</p></li>
                <li><p>{% trans %}Living area size{% endtrans %}</p></li>
                <li><p>{% trans %}Sales price{% endtrans %}</p></li>
                <li><p>
                  {% if project_type == 'HASO' %}
                    {% trans %}Right of occupancy payment{% endtrans %}
                  {% else %}
                    {% trans %}Debt free sales price{% endtrans %}
                  {% endif %}
                </p></li>
              </ul>
              {% for apartment in apartments %}
                {# {% set apartment_info = apartment.information|striptags|trim %} #}
							  {% set apartment_number = apartment.apartment_number.0.value|striptags|trim %}
                {% set apartment_structure = apartment.apartment_structure.0.value|striptags|trim|upper %}
                {% set apartment_floor = apartment.apartment_floor.0.value|striptags|trim %}
                {% set apartment_living_area = apartment.apartment_living_area.0.value|striptags|trim %}
                {% set apartment_sales_price = apartment.apartment_sales_price.0.value|striptags|trim %}
                {% set apartment_debt_free_sales_price = apartment.apartment_debt_free_sales_price.0.value|striptags|trim %}
                {% set apartment_right_of_occupancy_payment = apartment.apartment_right_of_occupancy_payment.0.value|striptags|trim %}
                <ol class="application-form__apartments-list application-form__apartments-list-header" id="application_form_apartments_list" aria-label="{{ 'Ordered list of apartments'|t }}">
                  <li><p>
                    <div class="application-form-apartment__list-position-actions">
                      <button class="application-form-apartment__list-button" type="button" data-list-position-action-button="raise" disabled="">
                        <span>Raise on the list</span>
                      </button>
                      <button class="application-form-apartment__list-button" type="button" data-list-position-action-button="lower" disabled="">
                        <span>Lower on the list</span>
                      </button>
                    </div>
                  </p></li>
                  <li><p><strong>{{ apartment_number }}</strong><span class="application-form-apartment__list-span">{{ apartment_structure }}</span></p></li>
                  <li><p>{{ apartment_floor }}</p></li>
                  <li><p>{{ apartment_living_area }}</p></li>
                  <li><p>{{ apartment_sales_price }}</p></li>
                  <li><p>
                    {% if project_type == 'HASO' %}
                      {{ apartment_right_of_occupancy_payment }}
                    {% else %}
                      {{ apartment_debt_free_sales_price }}
                    {% endif %}
                  </p></li>
                </ol>
                <div aria-live="assertive" class="visually-hidden sr-information-box"></div>
						  {% endfor %}
            </div>
          {% endif %}
        </section>
        <section class="application-form__section">
          <h2>
            {% trans %}
              Applicants Social Security Number
            {% endtrans %}
          </h2>
          <p>
            {% trans %}
              Last 4 characters of your ID.
            {% endtrans %}
          </p>
          <div class="field--type-string field--name-field-personal-id field--widget-string-textfield js-form-wrapper form-wrapper">
            <div class="js-form-item form-item js-form-type-textfield form-item-field-personal-id-0-value js-form-item-field-personal-id-0-value hds-text-input">
              <label for="edit-field-personal-id-0-value" class="js-form-required form-required hds-text-input__label">{% trans %}Personal id{% endtrans %}</label>
              <div class="hds-text-input__input-wrapper">
                <input readonly class="js-text-full text-full form-text required hds-text-input__input" type="text" value="{{ content.application.field_personal_id.0.value }}" size="60" maxlength="5" aria-label="{% trans %} The beginning of social security number {% endtrans %} {{ content.application.field_personal_id.0.value }}">
              </div>
            </div>
          </div>
        </section>
        {% if content.application.field_hitas_owner %}
          <section class="application-form__section">
            <h2>
              {% trans %}
                Hitas owner
              {% endtrans %}
            </h2>
            <div class="field--type-boolean field--name-field-hitas-owner field--widget-boolean-checkbox js-form-wrapper form-wrapper" id="edit-field-hitas-owner-wrapper">
              <div class="js-form-item form-item js-form-type-checkbox form-item-field-hitas-owner-value js-form-item-field-hitas-owner-value hds-checkbox">
                <input disabled type="checkbox" id="edit-field-hitas-owner-value" name="field_hitas_owner[value]" value="{{ content.application.field_hitas_owner }}" checked="checked" class="form-checkbox hds-checkbox__input">
                <label for="edit-field-hitas-owner-value" class="option hds-checkbox__label">{% trans %}I currently own a HITAS apartment{% endtrans %}</label>
              </div>
            </div>
          </section>
        {% endif %}
        <section class="application-form__section">
          <h2>
            {% trans %}
              Are you looking for an apartment with a family with children?
            {% endtrans %}
          </h2>
          <p>
            {% trans %}
              There is a minor child in my household who is living, being born or coming to live in the same household at the time of the revision of the terms of trade. Pending adoption is also taken into account.
            {% endtrans %}
          </p>
          <div class="field--type-boolean field--name-has-children field--widget-boolean-checkbox js-form-wrapper form-wrapper">
            <div class="js-form-item form-item js-form-type-checkbox form-item-has-children-value js-form-item-has-children-value hds-checkbox">
              <input disabled type="checkbox" id="edit-has-children-value" value="{{ content.application.has_children.0.value }}" checked="checked" class="form-checkbox hds-checkbox__input">
              <label for="edit-has-children-value" class="option hds-checkbox__label">
                {% trans %}
                  I have underage children who are moving in with me
                {% endtrans %}
              </label>
            </div>
          </div>
        </section>
        <section class="application-form__section">
          <h2>
            {% trans %}
              Are you looking for an apartment with someone?
            {% endtrans %}
          </h2>
          {# {{ content.application.applicant }} #}
          {# {{ content['#teaser_values'].applicant.0 }} #}
          <div class="application-form__input-elements">
            <div class="field--type-asu-applicant field--name-applicant field--widget-asu-applicant-widget js-form-wrapper form-wrapper" id="edit-applicant-wrapper">
              <div class="js-form-item form-item js-form-type-checkbox form-item-applicant-0-has-additional-applicant js-form-item-applicant-0-has-additional-applicant hds-checkbox">
                <input disabled type="checkbox" id="edit-applicant-0-has-additional-applicant" value="{{ content['#teaser_values'].applicant }}" checked="checked" class="form-checkbox hds-checkbox__input">
                <label for="edit-applicant-0-has-additional-applicant" class="option hds-checkbox__label">{% trans %}Add additional applicant{% endtrans %}</label>
              </div>

              <div id="applicant-wrapper" class="application-form__applicant-form">
                <div class="application-form__application-information">
                  <p class="application-form__application-information-tooltip">
                    {% trans %}
                      This applicant cannot complete another application for the same item.</p><p>
                      If there are more than one buyer, they must all be notified as applicants now - <strong>buyers can no longer be added afterwards</strong>. Applicant also means applicant economy (persons registered at the same address). Spouses registered at a different address are also considered as applicant households. If you want more than one person to buy an apartment, mark them all as applicants.
                    {% endtrans %}
                  </p>
                </div>

                <div class="js-form-item form-item js-form-type-textfield form-item-applicant-0-first-name js-form-item-applicant-0-first-name hds-text-input">
                  <label for="edit-applicant-0-first-name" class="hds-text-input__label">{% trans %}First name{% endtrans %}</label>
                  <div class="hds-text-input__input-wrapper">
                    <input readonly type="text" id="edit-applicant-0-first-name" value="{{ content['#teaser_values'].applicant.0.first_name }}" size="100" maxlength="50" class="form-text hds-text-input__input">
                  </div>
                </div>

                <div class="js-form-item form-item js-form-type-textfield form-item-applicant-0-last-name js-form-item-applicant-0-last-name hds-text-input">
                  <label for="edit-applicant-0-last-name" class="hds-text-input__label">{% trans %}Last name{% endtrans %}</label>
                  <div class="hds-text-input__input-wrapper">
                    <input readonly type="text" id="edit-applicant-0-last-name" value="{{ content['#teaser_values'].applicant.0.last_name }}" size="100" maxlength="50" class="form-text hds-text-input__input">
                  </div>
                </div>

                {# <div class="js-form-item form-item js-form-type-date form-item-applicant-0-date-of-birth js-form-item-applicant-0-date-of-birth hds-text-input">
                  <label for="edit-applicant-0-date-of-birth">Date of birth</label>
                  <div class="hds-text-input__input-wrapper">
                    <input readonly type="date" data-drupal-date-format="Y-m-d" id="edit-applicant-0-date-of-birth" value="{{ content.application.applicant.0.date_of_birth }}" size="30" class="form-date hds-text-input__input">
                  </div>
                </div> #}

                <div class="js-form-item form-item js-form-type-textfield form-item-applicant-0-personal-id js-form-item-applicant-0-personal-id hds-text-input">
                  <label for="edit-applicant-0-personal-id" class="hds-text-input__label">{% trans %}Personal id{% endtrans %}</label>
                  <div class="hds-text-input__input-wrapper">
                    <input readonly aria-describedby="edit-applicant-0-personal-id--description" type="text" id="edit-applicant-0-personal-id" value="{{ content['#teaser_values'].applicant.personal_id }}" size="60" maxlength="5" class="form-text hds-text-input__input">
                  </div>

                  <div id="edit-applicant-0-personal-id--description" class="description hds-text-input__helper-text">
                    {% trans %}last 5 characters{% endtrans %}
                  </div>
                </div>

                <div class="js-form-item form-item js-form-type-textfield form-item-applicant-0-address js-form-item-applicant-0-address hds-text-input">
                  <label for="edit-applicant-0-address" class="hds-text-input__label">{% trans %}Street address{% endtrans %}</label>
                  <div class="hds-text-input__input-wrapper">
                    <input readonly type="text" id="edit-applicant-0-address" value="{{ content['#teaser_values'].applicant.address }}" size="60" maxlength="99" class="form-text hds-text-input__input">
                  </div>
                </div>

                <div class="js-form-item form-item js-form-type-textfield form-item-applicant-0-postal-code js-form-item-applicant-0-postal-code hds-text-input">
                  <label for="edit-applicant-0-postal-code" class="hds-text-input__label">{% trans %}Postal code{% endtrans %}</label>
                  <div class="hds-text-input__input-wrapper">
                    <input readonly type="text" id="edit-applicant-0-postal-code" value="{{ content['#teaser_values'].applicant.postal_code }}" size="50" maxlength="5" class="form-text hds-text-input__input">
                  </div>
                </div>

                <div class="js-form-item form-item js-form-type-textfield form-item-applicant-0-city js-form-item-applicant-0-city hds-text-input">
                  <label for="edit-applicant-0-city" class="hds-text-input__label">{% trans %}City{% endtrans %}</label>
                  <div class="hds-text-input__input-wrapper">
                    <input readonly type="text" id="edit-applicant-0-city" value="{{ content['#teaser_values'].applicant.city }}" size="50" maxlength="50" class="form-text hds-text-input__input">
                  </div>
                </div>

                <div class="js-form-item form-item js-form-type-textfield form-item-applicant-0-phone js-form-item-applicant-0-phone hds-text-input">
                  <label for="edit-applicant-0-phone" class="hds-text-input__label">{% trans %}Phone number{% endtrans %}</label>
                  <div class="hds-text-input__input-wrapper">
                    <input readonly type="text" id="edit-applicant-0-phone" value="{{ content['#teaser_values'].applicant.phone }}" size="20" maxlength="20" class="form-text hds-text-input__input">
                  </div>
                </div>

                <div class="js-form-item form-item js-form-type-email form-item-applicant-0-email js-form-item-applicant-0-email hds-text-input">
                  <label for="edit-applicant-0-email" class="hds-text-input__label">{% trans %}Email{% endtrans %}</label>
                  <div class="hds-text-input__input-wrapper">
                    <input readonly type="email" id="edit-applicant-0-email" value="{{ content['#teaser_values'].applicant.email }}" size="50" maxlength="99" class="form-email hds-text-input__input">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
      {# <div class="application-form__actions">
        {{ element.form_build_id }}
        {{ element.form_id }}
        {{ element.form_token  }}
        {{ element.actions }}
      </div> #}
    </form>
  {% endif %}
{% endif %}
