{#
/**
 * @file
 * Theme override for a 'form' element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 */
#}

{% set classes = [
    'user-form',
    'user-form--password'
  ]
%}

<div {{ create_attribute({'class': classes}) }}>
  <h1 class="visually-hidden">{{ 'Password reset page'|t }}</h1>
  <div class="user-form__section">
    <h2>{{ 'Are you a new user'|t }}?</h2>
    {% include '@asuntotuotanto/button/button.html.twig' with {
        type: 'primary',
        disabled: false,
        label: 'Create an account'|t,
        href: path('user.register')
      }
    %}
  </div>
  <div class="user-form__section">
    <h2>{{ 'Reset password'|t }}</h2>
    <form{{ attributes|without('class') }}>
      {{ children }}
    </form>
    <div class="user-form__actions">
      <a href="{{ path('user.login') }}">{% trans %}Log in{% endtrans %}</a>
    </div>
  </div>
</div>