{#
/**
 * @file
 * Theme override for a 'form' element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 */
#}

{% set classes = [
    'user-form',
    'user-form--register'
  ]
%}

<div {{ create_attribute({'class': classes}) }}>
  <form{{ attributes|without('class') }}>
    <section class="user-form__section">
      <h1>{{ 'Create new account'|t }}</h1>
      {{ element.messages }}
      {{ element.account }}
    </section>
    <section class="user-form__section">
      <h2>{{ 'Basic information'|t }}</h2>
      <p>
        {% trans %}
          The information below is required for housing applications. This information will be pre-filled in the applications you make.
        {% endtrans %}
      </p>
      <p class="user-form__required-message">
        {% include "@hdbt/misc/icon.twig" with {icon: 'info-circle-fill', label: ''} %}
        {% trans %}
          Fill all fields
        {% endtrans %}
      </p>
      {{ element.basic_information }}
      {{ element['gdpr-warning'] }}
    </section>
    {{ element.form_build_id }} {# required #}
    {{ element.form_id }} {# required #}
    {{ element.url }}
    {{ element.honeypot_time }}
    <div class="user-form__submit">
      {{ element.actions.submit }}
      {% include '@asuntotuotanto/button/button.html.twig' with {
          type: 'secondary',
          disabled: false,
          label: 'Cancel'|t,
          href: path('<front>')
        }
      %}
    </div>
  </form>
  <div class="user-form__actions">
    <a href="{{ path('user.login') }}">{% trans %}I already have an account{% endtrans %}</a>
  </div>
</div>
