{#
/**
 * @file
 * Theme override for a 'form' element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 */
#}

{% set classes = [
    'user-form',
    'user-form--contact'
  ]
%}

<div {{ create_attribute({'class': classes}) }}>
  <form{{ attributes|without('class') }}>
    <section class="user-form__section">
      <h1>{{ element['#contact_form_title'] }}</h1>
      <p>{{ element['#contact_form_text'] }}</p>
    </section>
    <section class="user-form__section">
      {{ children }}
    </section>
  </form>
</div>