{% extends "block--branding.html.twig" %}

{% block branding %}
  {% set block_classes = block_classes|merge(['branding--footer']) %}
  {% set logo_classes = logo_classes|merge(['logo--footer']) %}

  <div{{ attributes.addClass(block_classes) }}>
    <a{{ logo_attributes.addClass(logo_classes) }} href="{{ path('<front>') }}" title="{{ 'Home'|t }}"rel="home">
      {% include '@asuntotuotanto/misc/logo--black.html.twig' %}
    </a>
    <span class="branding__slogan">{{ site_slogan }}</span>
  </div>
{% endblock %}