{#
/**
 * @file
 * Theme override to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - node.getCreatedTime() will return the node creation timestamp.
 *   - node.hasField('field_example') returns TRUE if the node bundle includes
 *     field_example. (This does not indicate the presence of a value in this
 *     field.)
 *   - node.isPublished() will return whether the node is published or not.
 *   Calling other methods, such as node.delete(), will result in an exception.
 *   See \Drupal\node\Entity\Node for a full list of public properties and
 *   methods for the node object.
 * - label: (optional) The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: (optional) Themed creation date field.
 * - author_name: (optional) Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_node()
 *
 * @todo Remove the id attribute (or make it a class), because if that gets
 *   rendered twice on a page this is invalid CSS for example: two lists
 *   in different view modes.
 */
#}

{{ attach_library('asuntotuotanto/sticky-navigation') }}

{%
  set classes = [
  'node--type-' ~ node.bundle|clean_class,
  node.isPromoted() ? 'node--promoted',
  node.isSticky() ? 'node--sticky',
  not node.isPublished() ? 'node--unpublished',
  view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
  'apartment'
]
%}

{% set apartment_structure = content.field_apartment_structure.0 %}
{% set living_area_size_m2 = content.field_living_area.0 %}
{% set images = content.field_images %}
{% set floor = content.field_floor.0 %}
{% set sales_price = content.field_sales_price.0 %}
{% set adjusted_price = content.field_index_adjusted_right_of_oc.0 %}
{% set alteration_price = content.field_alteration_work.0 %}
{% set release_payment = content.field_release_payment.0 %}
{% set debt_free_sales_price = content.field_debt_free_sales_price.0 %}
{% set apartment_number = content.field_apartment_number.0 %}
{% set financing_fee = content.field_financing_fee.0 %}
{% set maintenance_fee = content.field_maintenance_fee.0 %}
{% set right_of_occupancy_fee = content.field_right_of_occupancy_fee.0 %}
{% set right_of_occupancy_payment = content.field_right_of_occupancy_payment.0 %}

<article{{attributes.addClass(classes)}}>
  <div class="sticky-navigation is-hidden" aria-hidden="true" id="sticky_navigation">
		<div class="sticky-navigation__container wrapper wrapper--mw-1264">
			<div class="sticky-navigation__content">
				<div class="sticky-navigation__content-section">
					<p class="sticky-navigation__content-item">{{ apartment_number }}</p>
					<p class="sticky-navigation__content-item sticky-navigation__content-item--separator">
						{% if apartment_structure|render %}
							<span>{{ apartment_structure }}</span>
						{% endif %}
						{% if living_area_size_m2|render and living_area_size_m2|render != '0,0' %}
              <span aria-hidden="true"></span>
							<span>{{ living_area_size_m2 }}
								m<sup>2</sup>
							</span>
						{% endif %}
					</p>
				</div>
				<div class="sticky-navigation__content-section">
					<p class="sticky-navigation__content-item">
            {% trans %}Completion{% endtrans %}
						{{ estimated_completion_date }}
					</p>
					{% if is_application_period_active %}
						<p class="sticky-navigation__content-item">
							{% trans %}
							Application period is open until
							{{ application_end_time }}
							{% endtrans %}
						</p>
					{% endif %}
				</div>
			</div>
			<nav class="sticky-navigation__anchor-navigation">
				<ul class="sticky-navigation__anchor-list">
					<li class="sticky-navigation__anchor-item">
						<a href="#showcase_gallery" class="sticky-navigation__anchor-link">
							{% include "@hdbt/misc/icon.twig" with {icon: 'photo', label: ''} %}
							{% trans %}
							Images
							{% endtrans %}
						</a>
					</li>
					<li class="sticky-navigation__anchor-item">
						<a href="#apartment_information" class="sticky-navigation__anchor-link">
							{% include "@hdbt/misc/icon.twig" with {icon: 'info-circle', label: ''} %}
							{% trans %}
							Information
							{% endtrans %}
						</a>
					</li>
					{% if attachments|length > 0 %}
						<li class="sticky-navigation__anchor-item">
							<a href="#apartment_attachments" class="sticky-navigation__anchor-link">
								{% include "@asuntotuotanto/misc/icon.twig" with {icon: 'floor-plan', label: ''} %}
								{% trans %}
								Attachments
								{% endtrans %}
							</a>
						</li>
					{% endif %}
					<li class="sticky-navigation__anchor-item">
						<a href="#apartment_location" class="sticky-navigation__anchor-link">
							{% include "@hdbt/misc/icon.twig" with {icon: 'location', label: ''} %}
							{% trans %}
							Location
							{% endtrans %}
						</a>
					</li>
				</ul>
			</nav>
		</div>
	</div>

	<div class="apartment__header wrapper wrapper--mw-1264">
		<div class="apartment__header-section apartment__header-section--heading">
			<h1 class="apartment__label">{{ label }}</h1>
			{% if apartment_structure|render or living_area_size_m2|render %}
				<h2 class="apartment__lead">
					{% if apartment_structure|render %}
						<span class="apartment__apartment-structure">{{ apartment_structure }}</span>
					{% endif %}
					{% if living_area_size_m2|render and living_area_size_m2|render != '0,0' %}
						<span aria-hidden="true"></span>
					{% endif %}
					{% if living_area_size_m2|render and living_area_size_m2|render != '0,0' %}
						<span class="apartment__living-area-size">{{ living_area_size_m2 }}
							m<sup>2</sup>
						</span>
					{% endif %}
				</h2>
			{% endif %}
		</div>
		<div class="apartment__header-section apartment__header-section--actions {{ is_application_period_active ? 'is-application-period-active' }}">
			{% if is_application_period_active %}
				{% include '@asuntotuotanto/button/button.html.twig' with {
					type: 'primary',
					disabled: false,
					label: 'Create an application'|t,
					href: application_url
					}
        %}
      {% endif %}
      {% if (is_application_period_in_the_past is same as(false)) and (application_start_time != null and application_end_time != null) %}
        <p class="apartment__application-information">
          {% trans %}
            The application period for the project starts on
            {{ application_start_time }}
            and ends on
            {{ application_end_time }}.
          {% endtrans %}
        </p>
      {% endif %}
		</div>
	</div>

	<div class="apartment__images wrapper wrapper--mw-1264 showcase-gallery" id="showcase_gallery">
    <span class="showcase-gallery__label">
      {% trans %}
        Click on image for fullscreen
      {% endtrans %}
    </span>
		{% if not images|render %}
			<div class="apartment__images--missing"></div>
		{% endif %}
		{% if images|render %}
			{{ images }}
		{% endif %}
	</div>

	<nav class="apartment__anchor-navigation apartment__anchor-navigation--desktop wrapper wrapper--mw-1264">
		<ul class="apartment__anchor-list">
			<li class="apartment__anchor-item">
				<a href="#showcase_gallery" class="apartment__anchor-link">
					{% include "@hdbt/misc/icon.twig" with {icon: 'photo', label: ''} %}
					{% trans %}
					  Images
					{% endtrans %}
				</a>
			</li>
			<li class="apartment__anchor-item">
				<a href="#apartment_information" class="apartment__anchor-link">
					{% include "@hdbt/misc/icon.twig" with {icon: 'info-circle', label: ''} %}
					{% trans %}
					  Information
					{% endtrans %}
				</a>
			</li>
			{% if attachments|length > 0 %}
				<li class="apartment__anchor-item">
					<a href="#apartment_attachments" class="apartment__anchor-link">
						{% include "@asuntotuotanto/misc/icon.twig" with {icon: 'floor-plan', label: ''} %}
						{% trans %}
						  Attachments
						{% endtrans %}
					</a>
				</li>
			{% endif %}
			<li class="apartment__anchor-item">
				<a href="#apartment_location" class="apartment__anchor-link">
					{% include "@hdbt/misc/icon.twig" with {icon: 'location', label: ''} %}
					{% trans %}
					  Location
					{% endtrans %}
				</a>
			</li>
		</ul>
	</nav>

	<div class="apartment__content-wrapper wrapper wrapper--mw-1264">
		<aside class="apartment__sidebar" aria-label="{{ 'Apartment sidebar information'|t }}">
			<p class="apartment__application-information">
        {% if (is_application_period_in_the_past is same as(false)) and (application_start_time != null and application_end_time != null) %}
          {% trans %}
            The application period for the project starts on
            {{ application_start_time }}
            and ends on
            {{ application_end_time }}.
          {% endtrans %}
			  {% endif %}
			</p>
		</aside>
		<div class="apartment__content">
			<div class="apartment__type-and-address">
				{% if ownership_type|render %}
					<p class="apartment__ownership-type">
						<span class="visually-hidden">({{ 'Ownership type'|t }})</span>
						{{ ownership_type }}
					</p>
				{% endif %}
				{% if district|render and address|render %}
					<p class="apartment__address">{{ district }},
						{{ address }}</p>
				{% endif %}
			</div>
			{% if project_description|render %}
				<div class="apartment__information">
					<h2 class="apartment__information-label" id="apartment_information">
						{% trans %}
						  Apartment information
						{% endtrans %}
					</h2>
					<div class="apartment__project-description">{{ project_description|raw }}</div>
          {% if sales_email %}
          <div class="project-contact">
              <span class="is-highlighted">
                {% trans %}
                Contact
                {% endtrans %}
              </span>
              <a href="mailto:{{ sales_email }}">{{ sales_email }}</a>
          </div>
          {% endif %}
				</div>
			{% endif %}
			<div class="apartment__details">
				<h2 class="apartment__details-label">
					{% if (living_area_size_m2|render == '0,0' or living_area_size_m2|render == null)
              and (floor|render <= '0')
              and (sales_price|render == '0,00€' or sales_price|render == null)
              and (debt_free_sales_price|render == '0,00€' or debt_free_sales_price|render == null)
              and (apartment_number|render == '')
              and (apartment_structure|render == '')
              and (right_of_occupancy_fee|render == '0.00€')
              and (maintenance_fee|render == '0.00€ / kk')
              and (financing_fee|render == '0.00€ / month')
              and (energy_class|render == null)
              and (accessibility|render == null)
              and (site_owner|render == null)
          %}
					{% else %}
						{% trans %}
							Details
						{% endtrans %}
					{% endif %}
				</h2>
				<ul class="apartment__details-list">
					{% if district|render %}
						<li class="apartment__details-item">
							<p>
								<span>{% trans %}District{% endtrans %}</span>
								<span>{{ district }}</span>
							</p>
						</li>
					{% endif %}
					{% if building_type|render %}
						<li class="apartment__details-item">
							<p>
								<span>{% trans %}Building type{% endtrans %}</span>
								<span>{{ building_type }}</span>
							</p>
						</li>
					{% endif %}
					{% if apartment_structure|render %}
						<li class="apartment__details-item">
							<p>
								<span>{% trans %}Apartment structure{% endtrans %}</span>
								<span>{{ apartment_structure }}</span>
							</p>
						</li>
					{% endif %}
					{% if living_area_size_m2|render and living_area_size_m2|render != '0,0' and living_area_size_m2|render != null %}
						<li class="apartment__details-item">
							<p>
								<span>{% trans %}Living area size{% endtrans %}
									(m<sup>2</sup>)</span>
								<span>{{ living_area_size_m2 }}</span>
							</p>
						</li>
					{% endif %}
					{% if floor|render and floor|render > '0' %}
						<li class="apartment__details-item">
							<p>
								<span>{% trans %}Floor{% endtrans %}</span>
								<span>{{ floor }}</span>
							</p>
						</li>
					{% endif %}
					{% if sales_price|render and sales_price|render != '0,00€' and sales_price|render != null %}
						<li class="apartment__details-item">
							<p>
								<span>{% trans %}Sales price{% endtrans %}</span>
								<span>{{ sales_price }}</span>
							</p>
						</li>
					{% endif %}
					{% if debt_free_sales_price|render and debt_free_sales_price|render != '0,00€' and debt_free_sales_price|render != null %}
						<li class="apartment__details-item">
							<p>
								<span>{% trans %}Debt free sales price{% endtrans %}</span>
								<span>{{ debt_free_sales_price }}</span>
							</p>
						</li>
					{% endif %}
          {% if release_payment|render and release_payment|render != '0,00€' and release_payment|render != null %}
            <li class="apartment__details-item">
              <p>
                <span>{% trans %}Release payment{% endtrans %}</span>
                <span>{{ release_payment }}</span>
              </p>
              <ul class="apartment__details-list sub__details-list">
                {% if right_of_occupancy_payment|render and right_of_occupancy_payment|render != '0,00€' and right_of_occupancy_payment|render != null %}
                  <li class="apartment__details-item">
                    <p>
                      <span>{% trans %}Original right of occupancy payment{% endtrans %}</span>
                      <span>{{ right_of_occupancy_payment }}</span>
                    </p>
                  </li>
                {% endif %}
                {% if adjusted_price|render and adjusted_price|render != '0,00€' and adjusted_price|render != null %}
                  <li class="apartment__details-item">
                    <p>
                      <span>{% trans %}Index adjusted right of occupancy payment{% endtrans %}</span>
                      <span>{{ adjusted_price }}</span>
                    </p>
                  </li>
                {% endif %}
                {% if alteration_price|render and alteration_price|render != '0,00€' and alteration_price|render != null %}
                  <li class="apartment__details-item">
                    <p>
                      <span>{% trans %}Alteration work{% endtrans %}</span>
                      <span>{{ alteration_price }}</span>
                    </p>
                  </li>
                {% endif %}
              </ul>
            </li>
          {% else %}
            {% if right_of_occupancy_payment|render and right_of_occupancy_payment|render != '0,00€' and right_of_occupancy_payment|render != null %}
              <li class="apartment__details-item">
                <p>
                  <span>{% trans %}Right of occupancy payment{% endtrans %}</span>
                  <span>{{ right_of_occupancy_payment }}</span>
                </p>
              </li>
            {% endif %}
          {% endif %}
          {% if right_of_occupancy_fee|render and right_of_occupancy_fee|render != '0.00€' %}
						<li class="apartment__details-item">
							<p>
								<span>{% trans %}Right of occupancy fee{% endtrans %}</span>
								<span>{{ right_of_occupancy_fee }}</span>
							</p>
						</li>
					{% endif %}
          {% if maintenance_fee|render and maintenance_fee|render != '0.00€ / kk' %}
						<li class="apartment__details-item">
							<p>
								<span>{% trans %}Maintenance fee{% endtrans %}</span>
								<span>{{ maintenance_fee }}</span>
							</p>
						</li>
					{% endif %}
          {% if financing_fee|render and financing_fee|render != '0.00€ / month' %}
						<li class="apartment__details-item">
							<p>
								<span>{% trans %}Financing fee{% endtrans %}</span>
								<span>{{ financing_fee }}</span>
							</p>
						</li>
					{% endif %}
					{% if energy_class|render %}
						<li class="apartment__details-item">
							<p>
								<span>{% trans %}Energy class{% endtrans %}</span>
								<span>{{ energy_class }}</span>
							</p>
						</li>
					{% endif %}
					{% if accessibility|render %}
						<li class="apartment__details-item">
							<p>
								<span>{% trans %}Accessibility{% endtrans %}</span>
								<span>{{ accessibility }}</span>
							</p>
						</li>
					{% endif %}
					{% if site_owner|render %}
						<li class="apartment__details-item">
							<p>
								<span>{% trans %}Site owner{% endtrans %}</span>
								<span>{{ site_owner }}{{ site_renter|render ? ", #{site_renter}" : '' }}</span>
							</p>
						</li>
					{% endif %}
				</ul>
			</div>
			{% if attachments|length > 0 %}
				<div class="apartment__attachments">
					<h2 class="apartment__attachments-label" id="apartment_attachments">
						{% trans %}
						  Attachments
						{% endtrans %}
					</h2>
					<ul class="apartment__attachments-list">
						{% for attachment in attachments %}
							{% set description = attachment.description %}
							{% set name = attachment.name %}
							{% set size = attachment.size %}
							{% set uri = attachment.uri %}

							<li class="apartment__attachment-item">
								<a href="{{ uri }}" class="apartment__attachment-link">
									{% include "@hdbt/misc/icon.twig" with {icon: 'document', label: ''} %}
									<div class="apartment__attachment-content">
										<p class="apartment__attachment-description">{{ 'Open'|t }}</p>
										<p class="apartment__attachment-name">
											<span class="visually-hidden">({{ 'File name'|t }})</span>
											{{ description ?: name }}
										</p>
										<p class="apartment__attachment-size">
											<span class="visually-hidden">({{ 'File size'|t }})</span>
											{{ size }}
										</p>
									</div>
								</a>
							</li>
						{% endfor %}
					</ul>
				</div>
			{% endif %}
		</div>
	</div>

	{% if services|length > 0 and project_area_description|render and services_url %}
		<div class="apartment__area-overview-wrapper wrapper wrapper--mw-1264" id="apartment_location">
			<div class="apartment__area-overview">
				<h2 class="apartment__area-overview-label">
					{% trans %}
					  Area overview
					{% endtrans %}
				</h2>
				{% if services|length > 0 %}
					<ul class="apartment__services-list">
						{% for service in services %}
							<li class="apartment__service-item">
								{% include "@hdbt/misc/icon.twig" with {icon: 'location', label: ''} %}
								<p>{{ service.name }}
									{{ service.distance }}
									m</p>
							</li>
						{% endfor %}
					</ul>
				{% endif %}
				{% if project_area_description|render %}
					<div class="apartment__project-area-description">
						{% include "@hdbt/misc/icon.twig" with {icon: 'location', label: ''} %}
						<p>{{ project_area_description }}</p>
					</div>
				{% endif %}
				{% if services_url %}
					<a class="apartment__area-overvink-link" href="{{ services_url.uri }}">{{ services_url.title }}</a>
				{% endif %}
			</div>
			{% if city|render and street_name|render and street_number|render %}
				<div class="apartment__map-location">
					<h2 class="apartment__map-location-label">
						{% trans %}
						  Location
						{% endtrans %}
					</h2>
          <div>
            {% set embed_url_base = "https://palvelukartta.hel.fi/fi/embed" %}

            {% if coordinate_lat|render and coordinate_lon|render %}
              {% set embed_url_suffix = "/?lat=" ~ coordinate_lat ~ "&lon=" ~ coordinate_lon %}
            {% else %}
              {% set embed_url_parameters = city|lower ~ '/' ~ street_name ~ '/' ~ street_number %}
              {% set embed_url_suffix = "/address/" ~ embed_url_parameters %}
            {% endif %}

            {% set embed_link = embed_url_base ~ embed_url_suffix ~ "&city=helsinki,espoo,vantaa,kauniainen,kirkkonummi" %}

            <iframe title="{{ 'Map location of the @apartment apartment'|t({'@apartment': label[0]['#context']['value'] }) }}" style="position: absolute; top: 0; left: 0; border: none; width: 100%; height: 100%;" src="{{ embed_link }}"></iframe>
					</div>
				</div>
			{% endif %}
		</div>
	{% endif %}

	{% if is_application_period_active %}
		<div class="apartment__cta">
			<div class="apartment__cta-image">
				{% if not cta_image|render %}
					<div class="apartment__cta-image--missing"></div>
				{% endif %}
				{% if cta_image|render %}
					{{ cta_image }}
				{% endif %}
			</div>
			<div class="apartment__cta-content-wrapper">
				<div class="apartment__cta-content">
					<h2>
						{% trans %}
						  Could this be your home?
						{% endtrans %}
					</h2>
					{% include '@asuntotuotanto/button/button.html.twig' with {
							type: 'secondary',
							disabled: false,
							label: 'Create an application'|t,
							href: application_url,
							icon_last: true,
							icon_last_type: 'arrow-right'
						}
          %}
				</div>
			</div>
		</div>
	{% endif %}
</article>
