<p>{{ 'Hello,'|t }}</p>
<p>{{ 'Please confirm your subscription to the project:'|t }} <strong>{{ project_title }}</strong></p>
<p><a href="{{ confirm_url }}">{{ 'Confirm subscription'|t }}</a></p>
<hr/>
<p>{{ 'If you did not request this, you can ignore this email. To unsubscribe later, use this link:'|t }}</p>
<p><a href="{{ unsubscribe_url }}">{{ 'Unsubscribe'|t }}</a></p>
