{#
/**
 * @file
 * Theme override for main view template.
 *
 * Available variables:
 * - attributes: Remaining HTML attributes for the element.
 * - css_name: A CSS-safe version of the view name.
 * - css_class: The user-specified classes names, if any.
 * - header: The optional header.
 * - footer: The optional footer.
 * - rows: The results of the view query, if any.
 * - empty: The content to display if there are no rows.
 * - pager: The optional pager next/prev links to display.
 * - exposed: Exposed widget form/info to display.
 * - feed_icons: Optional feed icons to display.
 * - more: An optional link to the next page of results.
 * - title: Title of the view, only used when displaying in the admin preview.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the view title.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the view title.
 * - attachment_before: An optional attachment view to be displayed before the
 *   view content.
 * - attachment_after: An optional attachment view to be displayed after the
 *   view content.
 * - dom_id: Unique id for every view being printed to give unique class for
 *   Javascript.
 *
 * @see template_preprocess_views_view()
 */
#}
{%
  set classes = [
    dom_id ? 'js-view-dom-id-' ~ dom_id,
    'project-apartments-listing'
  ]
%}

<div{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {{ title }}
  {{ title_suffix }}

  {% if header %}
    <header>
      {{ header }}
    </header>
  {% endif %}

  {{ exposed }}
  {{ attachment_before }}

  {% if rows %}
    {{ attach_library('asuntotuotanto/project-apartments-filter') }}
    <div class="project-apartments-listing__header wrapper wrapper--mw-1264">
      <h2>
        {% trans %}
          Project apartments
        {% endtrans %}
      </h2>
      <h3>
        {% trans %}
          In total {{ apartments_count }} apartment
        {% plural apartments_count %}
          In total {{ apartments_count }} apartments
        {% endtrans %}
      </h3>
    </div>

    <div class="project-apartments-listing__content">
      {% if rows -%}
        <form class="project-apartments-filter" data-filter-form>
          <div class="searchbar">

            {# ROOMS #}
            <div class="searchbar__item">
              <div class="filter-dropdown" data-dropdown>
                <button type="button"
                        class="filter-dropdown__label"
                        aria-expanded="false"
                        aria-controls="filter-rooms-content"
                        data-dropdown-toggle>
                  {% include "@hdbt/misc/icon.twig" with {icon: 'home', label: ''} %}
                  <span class="filter-dropdown__title">{% trans %}Huoneiden lukumäärä{% endtrans %}</span>
                  {% include "@hdbt/misc/icon.twig" with {icon: 'angle-down', label: ''} %}
                </button>

                <div id="filter-rooms-content"
                    class="filter-dropdown__content"
                    aria-hidden="true"
                    hidden>
                  <fieldset class="filter-checklist" data-filter-rooms>
                    <legend class="visually-hidden">{% trans %}Huoneiden lukumäärä{% endtrans %}</legend>
                    <label class="filter-checklist__item"><input type="checkbox" value="1"> 1</label>
                    <label class="filter-checklist__item"><input type="checkbox" value="2"> 2</label>
                    <label class="filter-checklist__item"><input type="checkbox" value="3"> 3</label>
                    <label class="filter-checklist__item"><input type="checkbox" value="4"> 4</label>
                    <label class="filter-checklist__item"><input type="checkbox" value="5+"> 5+</label>
                  </fieldset>
                  <div class="filter-dropdown__footer">
                    <button type="button" class="filter-dropdown__clear" data-rooms-clear disabled>
                      {% trans %}Tyhjennä valinnat{% endtrans %}
                      <span class="sr-only">, Huoneita</span>
                    </button>
                  </div>
                </div>
              </div>
            </div>

            {# AREA #}
            <div class="searchbar__item">
              <div class="filter-dropdown" data-dropdown>
                <button type="button"
                        class="filter-dropdown__label"
                        aria-expanded="false"
                        aria-controls="filter-area-content"
                        data-dropdown-toggle>
                  <span class="filter-dropdown__title">{% trans %}pinta-ala, m²{% endtrans %}</span>
                  {% include "@hdbt/misc/icon.twig" with {icon: 'angle-down', label: ''} %}
                </button>

                <div id="filter-area-content"
                    class="filter-dropdown__content"
                    aria-hidden="true"
                    hidden>
                  <div class="filter-range">
                    <input type="text" inputmode="decimal" pattern="[0-9,\.]*"
                          placeholder="min" data-filter-area-min class="hds-text-input__input" />
                    <span class="filter-range__dash">–</span>
                    <input type="text" inputmode="decimal" pattern="[0-9,\.]*"
                          placeholder="max" data-filter-area-max class="hds-text-input__input" />
                  </div>
                  <div class="filter-dropdown__footer">
                    <button type="button" class="filter-dropdown__clear" data-area-clear disabled>
                      {% trans %}Tyhjennä valinnat{% endtrans %}
                      <span class="sr-only">, {% trans %}pinta-ala{% endtrans %}</span>
                    </button>
                  </div>
                </div>
              </div>
            </div>

            {# PRICE #}
            <div class="searchbar__item">
              <div class="filter-dropdown" data-dropdown>
                <button type="button"
                        class="filter-dropdown__label"
                        aria-expanded="false"
                        aria-controls="filter-price-content"
                        data-dropdown-toggle>
                  <span class="filter-dropdown__title">{% trans %}Hinta enintään{% endtrans %}</span>
                  {% include "@hdbt/misc/icon.twig" with {icon: 'angle-down', label: ''} %}
                </button>

                <div id="filter-price-content"
                    class="filter-dropdown__content"
                    aria-hidden="true"
                    hidden>
                  <input type="text" inputmode="numeric" pattern="[0-9\s]*"
                        placeholder="€" data-filter-price-max class="hds-text-input__input" />
                  <div class="filter-dropdown__footer">
                    <button type="button" class="filter-dropdown__clear" data-price-clear disabled>
                      {% trans %}Tyhjennä valinnat{% endtrans %}
                      <span class="sr-only">, {% trans %}Hinta{% endtrans %}</span>
                    </button>
                  </div>
                </div>
              </div>
            </div>

            {# SUBMIT #}
            <div class="searchbar__item searchbar__item--submit">
              <button type="button" class="hds-button hds-button--primary" data-filter-apply>
                {% include "@hdbt/misc/icon.twig" with {icon: 'search', label: ''} %}
                <span class="hds-button__label">{% trans %}Hae{% endtrans %}</span>
              </button>
            </div>

          </div>
        </form>
        {{ rows }}
      {% elseif empty -%}
        {{ empty }}
      {% endif %}
      {{ pager }}
    </div>
  {% endif %}

  {{ attachment_after }}
  {{ more }}

  {% if footer %}
    <footer>
      {{ footer }}
    </footer>
  {% endif %}

  {{ feed_icons }}
</div>
