{#
/**
* @file
* Default theme implementation to display a block.
*
* @see template_preprocess_block()
*
* @ingroup themeable
*/
#}
{% set classes = [
  'menu',
  'menu--content-creation',
] %}

<div class="projects-wrapper">
  <div class="projects__header">
    <h2 class="projects__title">{{ label }}</h2>
    <ul id="projects-tabs" class="projects__tabs">
      <li class="projects__tab">
        <a href="#"
           data-project="own"
           class="is-active"
           role="tab"
           aria-controls="projects"
           aria-selected="true">
          {{ 'Own projects'|t }}
        </a>
      </li>
      <li class="projects__tab">
        <a href="#"
           data-project="all"
           role="tab"
           aria-controls="projects"
           aria-selected="false">
          {{ 'All projects'|t }}
        </a>
      </li>
    </ul>
  </div>
  <div id="projects" class="projects__container">
    <div class="projects__list is-active" data-project-id="own">
      {{ projects_own }}
    </div>
    <div class="projects__list" data-project-id="all">
      {{ projects_all }}
    </div>
  </div>
</div>
