  <div class="hds-text-input">
    <label for="{{ id }}" class="hds-text-input__label">
      {{ label }}
    </label>
    <div class="hds-text-input__input-wrapper">
      <input id="{{ id }}" class="hds-text-input__input" disabled value="{{ value }}" type="{{ type ?: 'text' }}" />
    </div>
  </div>