{#
/**
 * @file
 * Theme override for a 'form' element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 */
#}

{% set classes = [
    'user-form',
    'user-form--login'
  ]
%}

<div {{ create_attribute({'class': classes}) }}>
  <h1 class="visually-hidden">{{ 'Log in page'|t }}</h1>
  <div class="user-form__section">
    <h2>{{ 'Log in'|t }}</h2>
    <form{{ attributes|without('class') }}>
      {{ children }}
    </form>
    <div class="user-form__actions">
      <a href="{{ path('user.pass') }}">{% trans %}Forgot password{% endtrans %}?</a>
    </div>
  </div>
</div>
